[push]
  default = simple
[pull]
  default = current
[user]
  name = Florian Kasper
	email = mosny@zyg.li
[core]
  excludesfile = /Users/f/.gitignore
  quotepath = false
[color]
  diff = auto
  status = auto
  branch = auto
[diff]
  rename = copy
  color = auto
[apply]
  whitespace = strip
[pager]
  color = true
[alias]
  co = "checkout"
  ci = "commit"
  p = "pull"
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[branch]
  autosetuprebase = always
[url "git@github.com:"]
	insteadOf = https://github.com/
